.background-container {
    position: relative;
    height: 100vh;
  }
  
  .background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/public/signup.jpg);
    background-size: cover;
    background-position: top;
    filter: blur(8px);
    z-index: -1;
  }
  
  .signup-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1;
  }
  
  .signup-form {
    background-color: rgba(192, 206, 192, 0.5);
    margin: 20px;
    padding: 30px;
    border: 2px solid #1a1717;
    border-radius: 12px;
    width: 30%; /* Adjust the width as needed */
    max-width: 500px; /* Set a maximum width to prevent the form from becoming too wide */
    margin: auto; /* Center the form */
    backdrop-filter: blur(7px);
  }
  
  .signup-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Add some spacing between logo and form */
  }
  
  .signup-form input {
    margin-bottom: 18px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
    background-color: rgba(104, 121, 104, 0.165);
    color: black;
  }
  
  .signup-button {
    background-color: rgb(17, 128, 13);
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
  }
  
  @media (max-width: 768px) {
    /* Add additional styles for smaller screens if needed */
    .signup-form {
      padding: 20px;
    }
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px; 
  }