.background-container {
  position: relative;
  height: 100vh;
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/public/signup.jpg); /* Update the image path */
  background-size: cover;
  background-position: top;
  filter: blur(8px);
  z-index: -1;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: rgba(192, 206, 192, 0.7);
  margin: 20px;
  padding: 40px;
  border: 2px solid #1a1717;
  border-radius: 12px;
  width: 40%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width to prevent the form from becoming too wide */
  margin: auto; /* Center the form */
  backdrop-filter: blur(7px);
}

.google-login-wrapper {
  margin-top: 20px; 
  margin-left: 40px;
  
}

.login-form input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(104, 121, 104, 0.165);
  color: black;
}

.login-button {
  background-color: rgb(17, 128, 13);
  color: #ffffff;
  border: none;
  padding: 12px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .login-form {
    width: 80%;
  }
}


.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px; 
}